## Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.so
.Python
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

## MkDocs
site/

## macOS
.DS_Store

## Office temp files
references/~$*

## Claude
.claudeignore
